<a href="https://colab.research.google.com/github/adityacd/Churn-Prediction-using-Machine-Learning/blob/master/Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#Importing Dataset
df = pd.read_csv('Dataset.csv')
df.head()

               Name  Gender   Age Payment Method  Churn  LastTransaction
0   Nicolas Garrett    male  64.0    credit card  loyal               98
1       Isaac Reyes    male  35.0         cheque  churn              118
2    Jaime Sullivan  female  25.0    credit card  loyal              107
3  Geraldine Miller  female  39.0    credit card    NaN              177
4    Curtis Frazier    male  39.0    credit card  loyal               90

In [4]:
#Identifying the missing values count
df.isna().sum()

Name                0
Gender              1
Age                 1
Payment Method      0
Churn              96
LastTransaction     0
dtype: int64

In [5]:
#Taking care of missing values Since the values are categorical.
df['Gender'] = df['Gender'].fillna(method = 'ffill')
df['Age'] = df['Age'].fillna(method = 'ffill')
df['Churn'] = df['Churn'].fillna(method = 'ffill')

In [6]:
df.isnull().sum()

Name               0
Gender             0
Age                0
Payment Method     0
Churn              0
LastTransaction    0
dtype: int64